---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, ALL_POSTS } from "../consts";
import Filter from "../components/Filter.astro";
import PostList from "../components/PostList.astro";

// must be serialized before passed to client side
// content stripped for performance
const metadata = ALL_POSTS.map(({ id, data }) => ({ id, data }));
---

<!doctype html>
<html lang="en" data-metadata={JSON.stringify(metadata)}>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <Filter />
      <PostList posts={metadata} />
    </main>
    <Footer />
  </body>
</html>

<script>
  import { subscribeToFilters } from "../stores/filters";
  import applyFilters from "../utils/applyFilters";

  // data from frontmatter passed to HTML elem, must be parsed
  const posts = JSON.parse(document.documentElement.dataset.metadata);
  // apply new filters when filters have changed, and rerender PostList
  const result = subscribeToFilters((newFilters) => {
    const filteredPostIds = applyFilters(posts, newFilters);
    const postItems = document.querySelectorAll("#post-list > li");
    postItems.forEach((item) => {
      if (filteredPostIds.includes(item.id)) {
        item.style.display = ""; // Hide the item
      } else {
        item.style.display = "none"; // Hide the item
      }
    });
  });
</script>
