---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import PostItem from "../../components/PostItem.astro";
import { SITE_TITLE, SITE_DESCRIPTION, ALL_POSTS } from "../../consts";
---

<!doctype html>
<html lang="en" data-theme="cupcake">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style></style>
    <title>Latest Posts</title>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {
            ALL_POSTS.map((post) => (
              <li>
                <PostItem post={post} />
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
