---
import FormattedDate from "./FormattedDate.astro";
import MetadataChips from "./MetadataChips.astro";
const { post } = Astro.props;
const { id, data } = post;
---

<a
  :href="`/post/${id}/`"
  class="block p-6 m-6 rounded-lg shadow-md hover:shadow-lg transition-shadow"
>
  <h2 class="text-xl font-semibold">{data.title}</h2>
  <!-- Author and Date -->
  <section>
    <span>[Author]</span>
    <span>
      <FormattedDate date={data.pubDate} />
    </span>
  </section>
  <!-- Other metadata -->
  <MetadataChips data={data} />
</a>
