---
import PostItem from "./PostItem.astro";
const { posts } = Astro.props;
---

<!-- FIXME: Solve type issue -->
<ul id="post-list">
  {
    posts.map((post) => (
      <li id={post.id}>
        <PostItem post={post} />
      </li>
    ))
  }
</ul>
